*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  height: 100vh;
  position: relative;
}

h1 {
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin-left: 10px;
  font-size: 1.1rem;
  border: 2px solid teal;
  padding: .3em .7em;
  border-radius: 7px;
  cursor: pointer;
}

.nav-list-item:hover {
  background-color: teal;
  transition: ease;
  transition-duration: .3s;
}

.nav-logo {
  width: 55px;
}

.main-content {
  width: 60%;
  margin: 0 auto;
}

.footer {
  padding: 1em;
  background-color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}